{% load static %}
<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block titulo %}{{ NOME_DO_MANDATO }}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/tailwind-output.css' %}">
    <script defer src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script defer src="https://unpkg.com/alpinejs@3.14.1/dist/cdn.min.js"></script>
</head>
<body class="bg-slate-50 text-slate-900 antialiased min-h-screen">
    {% block conteudo %}{% endblock %}
</body>
</html>
